@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  background-color: rgb(241, 233, 223);
}


.create-page h1 {
  display: flex;
  justify-content: left;
  text-align: center;
  color: #906594;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 30%;
}

.create-page p {
  text-align: center;
  color: #3e0c52ff;
  margin-top: 10px;
  font-size: 14px;
}

.create-page form {
  background: #fff;
  width: 400px;
  padding: 25px 0;
  margin: 35px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-page label {
  font-size: 14px;
  color: #695b78ff;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 6px;
  align-self: flex-start;
  margin-left: 50px;
}

.create-page input[type="text"],
.create-page input[type="email"],
.create-page input[type="password"],
.create-page input[type="file"] {
  margin-top: 2px;
  margin-bottom: 5px;
  width: 300px;
  height: 32px;
  outline-color: #9e4fedd8;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding-left: 8px;
}


.create-page input[type="file"] {
  border: none;
  padding: 0;
  height: auto;
}


.create-page input[type="file"]::file-selector-button {
  background: #bf8cd2ff;
  color: #7c2388ff;
  border: none;
  padding: 5px 15px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  transition: 0.3s;
}

.create-page input[type="file"]::file-selector-button:hover {
  background: #a45ac9;
  color: #fff;
}

.create-page input[type="submit"]:hover,
.create-page button:hover {
  background: #9c5ee0;
}


   input[type="submit"]{
    margin-left: 0;
    margin-top: 20px;
    padding: 10px 140px;
    background: #7f43baff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
   }
