@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: rgb(241, 233, 223);
}

h1 {
    margin-top: 10px;
    margin-left: 30%;
    color: #7f43ba;
    font-size: 20px;
    margin-bottom: 20px;
}

form {
    background: #fff;
    width: 420px;
    margin: 30px auto;
    padding: 30px 25px;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    font-weight: bold;
    color: #695b78ff;
    text-transform: uppercase;
    margin-left: 10px;
}

input[type="text"], 
input[type="email"],
input[type="password"] {
    border: 1px solid #8a8585;
    outline-color: #9e4fedd8;
    margin-top: 2px;
    width: calc(100% - 20px);
    height: 35px;
    padding: 5px 10px;
    border-radius: 5px;
}


input[type="submit"]{
    padding: 10px 150px;
    margin-left:10px;
    background: #7f43baff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    align-self: center;
}

input[type="submit"]:hover {
    transform: scale(1.03);
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.foto-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
}


.foto-preview img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.foto-preview input[type="file"] {
    height: 35px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
    padding: 5px 10px;
    outline-color: #c99ed1ff;
    background: #fff;
    transition: 0.3s;
}


.foto-preview input[type="file"]::file-selector-button {
    background: #bf8cd2ff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.foto-preview input[type="file"]::file-selector-button:hover {
    background: #a45ac9;
}

