@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background: linear-gradient(to right, #db43ba, #34a4f4);
    position: relative;
}
.logo{
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    z-index: 2;
}
.nav-center{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    z-index: 1;
}
.nav-center li{
    margin: 0 15px;
}
.nav-center li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    transition: 0.3s;
}
.nav-center li a:hover{
    color: #c1e4e6ff;
}
.user-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}
.username{
    color: #fff;
    font-weight: 600;
}
.btnLogin {
    background: linear-gradient(#fff, #ece8e8ff) padding-box,
                linear-gradient(to right, #d975a0ff, #4ea9ebff) border-box;
    padding: 8px 24px;
    border: 2px solid transparent;
    border-radius: 10px;
    color: #e74b8f;
    font-weight: 600;
    transition: 0.3s;
    text-decoration: none;
}
.btnLogin:hover {
    background: linear-gradient(to right, #dc84aaff, #50b1f7) padding-box,
                linear-gradient(to right, #e091b3ff, #50b1f7) border-box;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.hero{
  position: relative;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-hero{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-info{
  position: absolute;
  text-align: center;
  color: #fff;
}

.hero-info .title{
  font-size: 3rem;
  letter-spacing: 2px;
}

.hero-info .subtitle{
  font-size: 1.2rem;
}

.btnCadastrar{
  background-color: #b85c9e;
  color: #fff;
  padding: 12px 28px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
  text-transform: uppercase;
}
a{
    text-decoration: none;
}

.btnCadastrar:hover{
  background-color: #9e448a;
}

.about{
  text-align: center;
  padding: 80px 20px;
  background: #fff;
}

.title-about{
  color: #b85c9e;
  font-size: 2rem;
  margin-bottom: 15px;
}

.img-about{
  width: 200px;
  margin: 20px 0;
}

.txt-about{
  max-width: 600px;
  margin: 0 auto;
  font-size: 1.1rem;
  color: #444;
}

.product {
  text-align: center;
  padding: 60px 20px;
  background-color: #fffafc;
}

.title-product {
  font-size: 2rem;
  color: #b85c9e;
  margin-bottom: 10px;
}

.txt-product {
  margin-bottom: 20px;
  color: #555;
}


.filter-form {
  margin-bottom: 25px;
}

.filter-form select {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
  color: #555;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  justify-content: flex-start;
}

.filter-form select:hover {
  border-color: #b85c9e;
}


.conteiner-product {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.card-product {
  background: #fff;
  border-radius: 15px;
  width: 180px;
  padding: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
}

.card-product:hover {
  transform: translateY(-5px);
}

.card-product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-product h4 {
  color: #b85c9e;
  font-size: 1rem;
  margin: 8px 0;
}

.card-product .description {
  font-size: 0.8rem;
  color: #555;
  height: 40px;
  margin-bottom: 5px;
}

.card-product .preco {
  font-weight: 700;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.card-product a{
  padding: 6px 12px;
  border-radius: 20px;
  background: #b85c9e;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  transition: 0.3s;
  text-decoration: none;
}

.card-product a:hover {
  background: #9e448a;
}


.avaliate {
  background: #fff;
  padding: 60px 5%;
}

.title-avaliate {
  color: #b85c9e;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}

.txt-avaliate {
  text-align: center;
  color: #555;
  margin-bottom: 15px;
  font-size: 1rem;
}

.avaliate .filter-form {
  display: flex;
  justify-content: flex-start; 
  margin-bottom: 25px;
}

.avaliate .filter-form select {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
  color: #555;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}

.avaliate .filter-form select:hover {
  border-color: #b85c9e;
}


.conteiner-avaliate {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)); 
  gap: 10px; 
  justify-items: center;
  padding: 20px; 
  max-width: 1200px; 
  margin: 0 auto;
}



.card-avaliate {
  background: #fffafc;
  border-radius: 15px;
  padding: 15px;
  width: 280px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: center;
}

.card-avaliate:hover {
  transform: translateY(-4px);
}


.card-avaliate .username {
  font-weight: 600;
  color: #b85c9e;
  font-size: 0.95rem;
}


.card-avaliate .stars {
  color: #f5b642;
  font-size: 1rem;
  margin: 5px 0;
}


.card-avaliate .comment {
  margin-top: 5px;
  color: #444;
  font-style: italic;
  font-size: 0.85rem;
  line-height: 1.2rem;
}


footer {
  background-color: #fffafc;
  padding: 60px 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 2px solid #b85c9e;
}


.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-left .contact-title {
  color: #b85c9e;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-left .address-txt {
  color: #444;
  font-size: 0.95rem;
  margin-bottom: 6px;
  line-height: 1.5;
}


.footer-right {
  flex: 1;
  min-width: 280px;
}

.footer-right .contact-title {
  color: #b85c9e;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  transition: 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #b85c9e;
}

.btnEnviar {
  background: #b85c9e;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.btnEnviar:hover {
  background: #9e448a;
}


.footer-bottom {
  width: 100%;
  background: linear-gradient(to right, #b85c9e, #9e448a);
  color: #fff;
  text-align: center;
  padding: 12px 0;
  font-size: 0.9rem;
  margin-top: 40px;
  
}

footer{
    width: 100%;
}