@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: linear-gradient(to right, #ff6b6b, #6bc1ff);
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fff;
  margin-top: -40px;
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  text-align: center;
  color: #3e0c52ff;
  margin-top: 10px;
  font-size: 14px;
}

a {
  color: #7e1f93ff;
  text-decoration: underline;
  font-weight: bold;
}

button {
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px 20px;
  background: #7f43baff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

form {
  background: #fff;
  width: 400px;
  height: 480px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

h3 {
  text-align: center;
  color: #efeef1ff;
  margin-top: 20px;
  font-size: 16px;
  font-weight: normal;
}

input[type="text"], 
input[type="number"],
textarea {
  margin-top: 2px;
  width: 300px;
  height: 35px;
  outline-color: #9e4fedd8;
}

input[type="text"], 
input[type="number"],
textarea, 
label {
  margin-left: 52px;
}

input[type="submit"] {
  margin-left: 40px;
  margin-top: 5px;
  padding: 14px 140px;
  background: #7f43baff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

label {
  font-size: 14px;
  color: #695b78ff;
  font-weight: bold;
  text-transform: uppercase;
}

textarea {
  height: 100px;
  resize: none;
  margin-top: 2px;
  padding: 10px;
}

  input[type="file"]::file-selector-button{
    background: #bf8cd2ff;
    color: #7c2388ff;
    border: none;
    padding: 5px 15px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 5px;
    outline-color: #c99ed1ff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    margin-top: 2px;
    height: 35px;
    margin-left: 52px;
    outline-color: #9e4fedd8 ;
  }
 